* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* do all of this in a reset file */

:root {
    --primary: black;
    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(37, 37, 37);
    --link-decoration: aqua;
    --secondary: yellow;
    --section-bg: gray;
}

body {
    font-family: 'Trebuchet MS', 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2%;
}



/* Header Section */

header {
    background-color: var(--primary);
    color: var(--text-light);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    width: 33%;
    border: solid;
}

nav {
    width: 50%;
    padding: 0 4%;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/* header a {
     color: var(--text-light);     
} */

header a {
    text-decoration: none;
    position: relative;
    color: white;
  }

header a:hover {
    color: var(--link-decoration);
}

header a:focus {
    /* color: yellow; */
}

    /* link hover underline animation */

header a::after {
    content: " ";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: aqua;
    margin-top: 5px;                
}

header a:hover::after {
    width: 75%;
    transition: all .5s;
}

header a:focus::after {
    background-color: white;
    
    
} 

header a:visited::after {
    /* background-color: white; */
    
}


/* 2. Hero banner */

.hero {
    background-color: gray;
    margin-top: 10px;
}

/* Main section */

main {
    margin-top: 20px;
    background-color: var(--primary);
    color: var(--text-light);
}

.section-block {
    display: flex;
    margin: 5px 0;
    background-color: var(--section-bg);
    border-radius: 10px;
    
}

.col-1 {
    width: 25%;
    padding: 10px;
}

.col-2 {
    width: 75%;
    padding: 10px;
}

main img {
    width: 100%;
}

    /* About me */

#about-me .col-2 {
    display: flex;
    align-items: center;
}

    /* Projects */

#projects .col-2 {
  
}

.feature-block {
    width: 100%;
    background-color: red;
    height: 200px;
    
}

.feature-block img {
    height: 100%;
}
.project-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 2%;
}

.card {
    background-color: black;
    margin-top: 5px;
    height: 100px;
    width: 47%;
    position: relative;    
}

.card img {
    height: 100%;
    object-fit: cover;
}

.card h3 {
    position: absolute;
    bottom: 0;
    right: 0;
       
}

/* Footer Section */

footer {
    background-color: var(--primary);
    color: var(--text-light);
    height: 100px;
}

/* Responsive Design */

@media screen and (max-width: 980px) {
    /* navbar to hamburger menu and hamburger menu animations */
    nav {
       display: flex;
       justify-content: end;
       /* border: solid; */
    }
    
    nav ul {
        display: block;
        opacity: 0;
        transform: translateY(-500px);
        background-color: gray;
        margin-right: 25%;
        width: 500px;
        padding: 10px;
        transition: all .5s ease-in-out;

    }

    nav ul.active {
        transform: translateY(0);
        opacity: 1;
        
    }

    #hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    #hamburger span {
        display: block;
        background-color: white;
        width: 25px;
        height: 5px;
        margin: 1px 0;
    }

    #hamburger.active span:nth-child(1) {
        transform: translateY(65%) rotate(45deg);
    }

    #hamburger.active span:nth-child(2) {
        display: none;
    }

    #hamburger.active span:nth-child(3) {
        transform: translateY(-65%) rotate(-45deg);
    }

    header a:hover::after {
        display: none;
    }
  
}

@media screen and (max-width: 860px) {
   .card {
        width: 100%;
        position: relative;    
    }

}







